body {
  width: 240px;
  display: flex;
  background-color: #222222;
  color: #787878;
  flex-direction: column;
  margin: 1em 0;
}

img#dj-image {
  max-width: 100%;
}

.dj-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
