body {
  margin: 0;
  padding: 0;
}

div.container {
  min-width: 240px;
  display: flex;
  background-color: #222222;
  color: #787878;
  flex-direction: column;
  padding-top: 1em;
}

img#dj-image {
  max-width: 100%;
}

.dj-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
